.plan.jsPlanFlip
    .plan__main
        .plan-main
            .plan-main__title
                include title
            .plan-main__price
                include price
            .plan-main__flip
                <svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0209 7.48579C13.5443 7.16429 10.7445 7.13079 8.18305 7.39406C7.58406 7.45563 7.01369 7.53183 6.47636 7.62055C4.69091 7.91538 3.30458 8.34303 2.44328 8.80954C1.89321 9.10748 1.71705 9.33486 1.67533 9.41415C1.68223 9.42712 1.69417 9.44667 1.71434 9.47322C1.84138 9.6404 2.17167 9.91391 2.84914 10.2177C3.50413 10.5114 4.38338 10.7887 5.4694 11.0185C7.64242 11.4782 10.3489 11.6856 13.051 11.5847L13.0978 12.8386C10.3114 12.9426 7.50005 12.7306 5.20971 12.2461C4.06504 12.0039 3.09505 11.7031 2.33572 11.3626C1.57981 11.0236 1.02771 10.6435 0.715305 10.2324L1.21482 9.85279L0.715305 10.2324C0.569359 10.0403 0.458388 9.82015 0.424605 9.57004C0.390003 9.31387 0.443999 9.0829 0.536546 8.88675C0.737323 8.46122 1.18152 8.06598 1.84569 7.70624C2.88229 7.14479 4.42394 6.68773 6.27194 6.38257C6.83597 6.28944 7.43179 6.20993 8.05476 6.1459C10.71 5.87298 13.6071 5.90717 16.1824 6.24149C18.7611 6.57625 20.8121 7.18494 21.9602 7.93955C22.5249 8.31075 22.8793 8.72199 22.9744 9.17257L22.3605 9.30201L22.9744 9.17257C23.0738 9.64425 22.8794 10.0927 22.4681 10.4893L22.0327 10.0377L22.4681 10.4893C22.0421 10.9 21.3819 11.2636 20.5634 11.575C19.7331 11.891 18.6928 12.171 17.4641 12.39L17.244 11.1547C18.4155 10.9459 19.377 10.684 20.1172 10.4023C20.8692 10.1161 21.3481 9.82616 21.5972 9.58603C21.6868 9.49966 21.7239 9.442 21.7382 9.41461C21.7115 9.36375 21.6109 9.2115 21.271 8.98808C20.3656 8.39299 18.5458 7.81357 16.0209 7.48579ZM1.66657 9.39458C1.66659 9.39458 1.6667 9.39493 1.66688 9.39563L1.66657 9.39458Z" fill="#2798D8"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M16.7263 2.19932H6.68834V17.8836H16.7263V2.19932ZM6.68834 0.94458C5.99536 0.94458 5.43359 1.50635 5.43359 2.19932V17.8836C5.43359 18.5766 5.99536 19.1384 6.68834 19.1384H16.7263C17.4193 19.1384 17.981 18.5766 17.981 17.8836V2.19932C17.981 1.50635 17.4193 0.94458 16.7263 0.94458H6.68834Z" fill="#2798D8"/>
                <path d="M12.9262 12.2373L11.079 10.4946L11.8347 9.72778L14.4946 12.2373L11.8347 14.7468L11.079 13.98L12.9262 12.2373Z" fill="#2798D8"/>
                </svg>
                span FLIP CARD
            .plan-main__link
                include link
    .plan__hidden
        .plan-hidden
            .plan-hidden__top
                .plan-hidden__title
                    include title
                .plan-hidden__price
                    include price
            .plan-hidden__content
                p= i.txt
                ol
                    each li in i.list
                        li= li
            .plan-hidden__link
                include link