a(href=i.link).plan__link.link.jsPlanOpen
    span MORE DETAILS
    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M4.54507 2.61511V3.61078H7.74023L2.12082 9.38065L2.80446 10.0826L8.42387 4.31272V7.59344H9.39357V2.61511H4.54507Z" fill="#2798D8"/>
    </svg>

