-
    var table = {
        thead: [
            "Function:",
            "Premier Plan",
            "Platinum Plan",
        ],
        tbody: [
            [
                "Website development delivery and launching",
                "<b>from 15 days</b>",
                "<b>from 30 days</b>"
            ],
            [
                "Flexible contract, flexible conditions of consent",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Assessment of nest suitable commercial CMS",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Layout for mobile devices",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Predesigned website template",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Unique premium design",
                "<span style='font-size: 30px;font-weight: 500;color: #BE423E;'>-</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Responsive layout and cross-browser compatibility",
                "<span style='font-size: 30px;font-weight: 500;color: #BE423E;'>-</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Competitive and marketing analysis",
                "<span style='font-size: 30px;font-weight: 500;color: #BE423E;'>-</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Semantic design of main pages",
                "<span style='font-size: 30px;font-weight: 500;color: #BE423E;'>-</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Free installation and setup of Google Analytics",
                "<span style='font-size: 30px;font-weight: 500;color: #BE423E;'>-</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Free connection to HTTPS through SSL certificate with domain verification",
                "<span style='font-size: 30px;font-weight: 500;color: #BE423E;'>-</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Installation of Premium Online Consultant (e.g. Jivosite)",
                "<span style='font-size: 30px;font-weight: 500;color: #BE423E;'>-</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Website development according to the law \"On Personal Data and Information Security.",
                "<span style='font-size: 30px;font-weight: 500;color: #BE423E;'>-</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Free in-person CMS training",
                "<span style='font-size: 30px;font-weight: 500;color: #BE423E;'>-</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Free annual provision of hosting",
                "<span style='font-size: 30px;font-weight: 500;color: #BE423E;'>-</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Free CMS installation and setup",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Editing/ proofreading by the professional writer of company presentation content",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Interactive and adaptable presentation of services",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Free installation of Metrics",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Setting up and preparing to work on HTTPS",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Basic SEO",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Website manual and CMS instructions",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Advanced SEO for Google",
                "<span style='font-size: 30px;font-weight: 500;color: #BE423E;'>-</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "50% discount for the first month of promotion",
                "<span style='font-size: 30px;font-weight: 500;color: #BE423E;'>-</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Free customization of contextual advertising on a turnkey basis",
                "<span style='font-size: 30px;font-weight: 500;color: #BE423E;'>-</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "50% discount on setting up an advertising campaign on social networks",
                "<span style='font-size: 30px;font-weight: 500;color: #BE423E;'>-</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "50% discount for the first month of SEO promotion",
                "<span style='font-size: 30px;font-weight: 500;color: #BE423E;'>-</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ]
        ]
    }
table
    thead
        tr
            each th in table.thead
                th= th
    tbody
        each tr in table.tbody
            tr
                each td in tr
                    td!=td




