-
    var table = {
        thead: [
            "Function:",
            "Premier Plan",
            "Platinum Plan",
        ],
        tbody: [
            [
                "Website development delivery and launching",
                "<b>from 15 days</b>",
                "<b>from 30 days</b>"
            ],
            [
                "Flexible contract, flexible conditions of consent",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Structural optimization ",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Setting up and preparing to work on HTTPS",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Free installation of metrics",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Basic technical support",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Basic SEO",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "50% discount on setting up contextual advertising",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Layout for mobile devices",
                "<span style='font-size: 30px;font-weight: 500;color: #BE423E;'>-</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Optimization for top commercial CMS",
                "<span style='font-size: 30px;font-weight: 500;color: #BE423E;'>-</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Unique premium design",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Full immersion development (formation analytical integrity with target audience)",
                "<span style='font-size: 30px;font-weight: 500;color: #BE423E;'>-</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Marketing integrity for maximum conversion (planning and forecasting of user behavior, developing scenarios for the targeted actions, planned attention retention)",
                "<span style='font-size: 30px;font-weight: 500;color: #BE423E;'>-</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Proofreading and enhancing website content ",
                "<span style='font-size: 30px;font-weight: 500;color: #BE423E;'>-</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Free call tracking setup",
                "<span style='font-size: 30px;font-weight: 500;color: #BE423E;'>-</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Free connection HTTPS",
                "<span style='font-size: 30px;font-weight: 500;color: #BE423E;'>-</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Website development according to the law \"On Personal Data and Information Secutiry.\"",
                "<span style='font-size: 30px;font-weight: 500;color: #BE423E;'>-</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "CMS training",
                "<span style='font-size: 30px;font-weight: 500;color: #BE423E;'>-</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Domain and hosting",
                "<span style='font-size: 30px;font-weight: 500;color: #BE423E;'>-</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Extended technical support",
                "<span style='font-size: 30px;font-weight: 500;color: #BE423E;'>-</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Advanced SEO",
                "<span style='font-size: 30px;font-weight: 500;color: #BE423E;'>-</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "Free turnkey contextual advertising setup",
                "<span style='font-size: 30px;font-weight: 500;color: #BE423E;'>-</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ],
            [
                "50% discount on setting up an advertising campaign on social networks",
                "<span style='font-size: 30px;font-weight: 500;color: #BE423E;'>-</b>",
                "<span style='font-size: 30px;font-weight: 500;color: #2798D8;'>+</b>",
            ]
        ]
    }
table
    thead
        tr
            each th in table.thead
                th= th
    tbody
        each tr in table.tbody
            tr
                each td in tr
                    td!=td




