.zeus
    .zeus__img
        img(src="/images/content/zeus/img.png" alt="lorem")
    .zeus__rounds
        .zeus__top
            .zeus__round
                img(src="/images/content/zeus/round.svg" alt="lorem")
            .zeus__round
                img(src="/images/content/zeus/round.svg" alt="lorem")
            .zeus__round
                img(src="/images/content/zeus/round.svg" alt="lorem")
            .zeus__round
                img(src="/images/content/zeus/round.svg" alt="lorem")
            .zeus__round
                img(src="/images/content/zeus/round.svg" alt="lorem")
            .zeus__round
                img(src="/images/content/zeus/round.svg" alt="lorem")
            .zeus__round
                img(src="/images/content/zeus/round.svg" alt="lorem")
        .zeus__bottom
            .zeus__round
                img(src="/images/content/zeus/round-back.svg" alt="lorem")
            .zeus__round
                img(src="/images/content/zeus/round-back.svg" alt="lorem")
            .zeus__round
                img(src="/images/content/zeus/round-back.svg" alt="lorem")
            .zeus__round
                img(src="/images/content/zeus/round-back.svg" alt="lorem")
            .zeus__round
                img(src="/images/content/zeus/round-back.svg" alt="lorem")
            .zeus__round
                img(src="/images/content/zeus/round-back.svg" alt="lorem")
            .zeus__round
                img(src="/images/content/zeus/round-back.svg" alt="lorem")



