if field == "name"
    input(type="text" name="name" placeholder="Name" data-rule-required="true" data-msg-required="Name").input
if field == "tel"
    input(type="tel" name="tel" placeholder="Phone" data-rule-required="true" data-msg-required="Phone" data-msg-tel="Phone").input
if field == "email"
    input(type="email" name="email" placeholder="Email" data-rule-required="true" data-msg-required="Email").input
if field == "msg"
    textarea(name="msg" placeholder="Message").input.input--area
