extends ../../main

block variables
    - var title = 'Главная'

block content
    main.page
        section.page__spark#home.jsSection
            include ../../components/spark/index
        section.page__solution#plans.jsSection
            include ../../components/solution/index
        section.page__scroll#exp.jsSection
            .page__scroll-bg
                img(src="/images/content/scroll/bg.png" alt="lorem")
            include ../../components/scroll/index
        section.page__diffs#diff.jsSection
            include ../../components/diffs/index
        section.page__meth#meth.jsSection
            .container
                include ../../components/meth/index
        section.page__specs#specs.jsSection
            include ../../components/specs/index










