.spark
    .spark__bg
        img(src="/images/content/spark/bg.png" alt="lorem")
    .container.spark__container
        .spark__system
            .spark__planet
                include planet/index
            .spark__planet-small
                img(src="/images/content/spark/planet2.png" alt="lorem")
            .spark__stars
                .spark__star-middle
                    img(src="/images/content/spark/star-middle.png" alt="lorem")
                .spark__star-small
                    img(src="/images/content/spark/star-small.png" alt="lorem")
        .spark__content
            .spark__left
                .spark__sub
                    | We bring the best
                    br
                    | talents together
                .spark__title
                    .spark__title-line.line
                    .spark__title-text
                        | to spark
                        br
                        | better ideas
                button(type='button' data-form="formConsultation" data-success-form="formThanks" data-action="openForm").btn2.spark__btn.jsAction Get consultation
            .spark__right
                .spark__statue
                    include statue/index
                .spark__txt
                    |Epcotec brings the best talents
                    br
                    |together to spark better ideas for the
                    br
                    |nation to thrive our expertise to form
                    br
                    |intentional, confident advance to
                    br
                    |improve environmental, economic,
                    br
                    |and social factors, giving significance
                    br
                    |to our internal partners, clients, and
                    br
                    |communities.
