.page {

  &__scroll {
    position: relative;

    &-bg {
      position: absolute;
      z-index: 1;
      top: -370px;
      right: -220px;
      @include lg-block{
        display: none;
      }
    }
  }
}