label.agree
    input(type="checkbox" name="agree" checked=true).agree__input
    span.agree__fake
        span.agree__check
            <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5 10.4458L0 5.63811L1.4 4.29195L5 7.75349L12.6 0.445801L14 1.79195L5 10.4458V10.4458Z" fill="white"/>
            </svg>
        span.agree__content.
            I agree to the Epcotec <a class="inactive" href="/">Terms of Service</a> and <a class="inactive" href="/">Privacy Policy</a>