//USER
@import "default/css/variables";
@import "default/css/mixins";
@import "default/css/fonts";
@import "default/css/smart-grid";
@import "default/css/adjustment";
@import "default/css/common";

//BLOCKS
@import "blocks/css/header";
@import "blocks/css/aside";
@import "blocks/css/nav";
@import "blocks/css/footer";
@import "blocks/css/fancybox";

//COMPONENTS
@import "components/agree/style";
@import "components/country/style";
@import "components/diffs/style";
@import "components/follow/style";
@import "components/forms/style";
@import "components/info/style";
@import "components/meth/style";
@import "components/plans/style";
@import "components/scroll/style";
@import "components/sign/style";
@import "components/solution/style";
@import "components/spark/style";
@import "components/specs/style";
@import "components/zeus/style";


//PAGES
@import "pages/style";


.debug {
  @include debug(rgba(0,0,0,0.3), 1px solid red);
  z-index: 100;
  top: 0;
  display: none;
}